<!doctype html>
<html lang="en">

<head>
    <title>Tweet Preview</title>
    <meta name = "robots" content = "nofollow" />
    <meta http-equiv = "pragma" content = "no-cache" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/Website.css" type = "text/css" />
</head>

<body class="container">
    <div class="a" style = "position: relative; top: 2%;" >
        <h3>Prepare to Tweet your Image</h3>
        <figure>
            <img src="{{ image }}" style = "width: 600vw; max-width: 800px; height: auto; background-color: #f3f4ed; padding: 5px;"/>
            <br>
            <figcaption>
                {{ caption }}
            </figcaption>
        </figure>
        <form action="/tweet_confirmation" , method="post" , enctype="multipart/form-data">
            <br />
            <input type="text" name="caption" size=75
                placeholder = "If you would like to use a different caption, please enter it here" value="{{ caption }}"/>
            <br />
            <br />
            <button type="submit" class="btn btn-light btn-sm" > Send Tweet </button>
        </form>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </div>
</body>


</html>