<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/Website.css" type = "text/css" />
</head>

<body>
    <div class="a">
    <h3>Your Image and Caption has been Tweeted</h3>
    <p>It can be found at:</p>
    <br />
    <p>https://twitter.com/twitter/statuses/ + {{post_results}}</p>
    <iframe width = "450" height = "250" src = "https://www.cnn.com/"></iframe>
    <br />
    <button class = "btn btn-dark btn-sm" href = "/https.uiowa.herokuapp.com/">Back to Image Upload</button>
    </div>
</body>
</html>