<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!DOCTYPE html>
<html>
    <head>
        <title>Image</title>
        <meta name = "description", content = "Tool that generates Machine Learning based captions for user input images" />
        <meta http-equiv = "pragma", content = "no-cache" />
        <meta name = "robots", content = "no-follow" />
        <link href = "{{ url_for('static',filename='styles/Website.css') }}", type = "text/css", rel = "stylesheet" />
    <head>
    <body >
        <h1>Image Caption Machine Learning</h1>
        <form action = "WEBSITE NAME HERE", method = "post">
            <p>Upload the image to be captioned:
                <br />
                What format would you like to upload your image as?
                <br />
                File <input type = "radio", name = "fileType", value = "File" />
                URL <input type = "radio", name = "fileType", value = "URL" />
                <br />
                <input type = "file", name = "image" />
                <br />
                <input type = "url", name = "image" />
                <input type = "submit", value = "Upload Image" />
            </p>
            <p> How would you rate your caption?
                <br />
                 1 ------- 3 ------- 5
                <br />
                <input type = "radio", name = "rating", value = "1" />
                <input type = "radio", name = "rating", value = "2" />
                <input type = "radio", name = "rating", value = "3", checked = "checked" />
                <input type = "radio", name = "rating"m value = "4" />
                <input type = "radio", name = "rating", value = "5" />
            </p>
        </form>
    </body>
</html>
<script>

    $(document).ready(function () {

        $("#loginForm").validate({
            rules: {
                username: {
                    required: true,
                },
                password: {
                    required: true,
                }
            },
            messages: {
                username: "Please enter a username",
                password: {
                    required: "Please provide a password",
                }
            },
            submitHandler: function (form) {
                callLoginServer(form);
            }
        })
    });

    function callLoginServer(form) {

        var username = form.username.value;
        var password = form.password.value;
        var stayLoggedIn = false;

        if (form.stayLoggedIn.checked) {
            stayLoggedIn = true;
        } else {
            stayLoggedIn = false;
        }

        $.ajax({
            type: 'POST',
            url: '/login/userLogin',
            data: {
                username: username,
                password: password,
                stayLoggedIn: stayLoggedIn
            }
        }).done(function (result) {
            if (result && result.loginMessage) {
                console.log(result.loginMessage);
                $('#loginMsg').html(result.loginMessage);
            } else {
                top.location.href = '/home';
            }
        })
    }


</script>